venv/
env/
.env
example.env
**/__pycache__/
*.pyc
.git
.github/
.gitlab-ci.yml
reports/
*Dockerfile
docker-compose.yml
.dockerignore
.pre-commit-config.yaml
Makefile
README.md
requirements-style.txt
requirements-test.txt
setup.cfg
