black==26.5.1
flake8==7.3.0
flake8-annotations==3.2.0
flake8-bandit==4.1.1
flake8-black==0.4.0
flake8-bugbear==25.11.29
flake8-import-order==0.19.2
pre-commit==4.6.1
bandit==1.9.4
importlib-metadata<10.0
toml==0.10.2
